
$highlight-color: #8b7541;
$text-color: #0c0e09;
$background-color: #fff5df;
$main-color: #ebc673;



body {
  background-color: $main-color;
  color: $text-color;
}

main {
  background-color: $background-color;
  width: 90%;
  margin: auto;
  box-shadow: 1px 1px 5px $highlight-color;
}

#title {
  color: $text-color;
  padding: 2%;
  text-align: center;
  border-bottom: 5px solid $main-color;
  font-family: "Limelight", sans-serif;

}

#list {
  padding: 2%;

  h2 {
    text-align: center;
  }
}

#add-course {
  h3 {
    text-align: center;
  }
}

input {
  width: 80%;
  padding: 2%;
  margin: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: lighten($background-color,3%);
  border-bottom: 5px solid $main-color;
}

select {
  @extend input;
  width: 84%;
}

li {
  margin-top: 2%;
}

label {
  margin-left: 10%;
}

button {
  background-color: darken($background-color, 20%);
  border: 1px solid #c5c5c5;
  border-bottom: 5px solid $main-color;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 5px;
  margin-left: 42%;
  color: darken($background-color, 80%);
  margin-top: 2%;
}

button:hover {
  background-color: darken($background-color, 10%);
  cursor: pointer;
}

footer {
  border-top: 5px solid $main-color;
  text-align: center;
  padding: 1%;
  margin-top: 10%;
}

a {
  color: darken($main-color,35%);
  text-decoration: none;
}

a:hover {
  color: darken($main-color,3%);
}